.todoitembox{
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
.checkcircle{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #ced4da;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
}

.checkcircle > *{ display: none; } /* 체크모양 안보이게 처리 */
.checkcircle.active{ border-color: #38d9a9; }
.checkcircle.active > *{ display: block; color: #38d9a9; } /* 활성화 시 체크모양 보이게 처리 */
.checkcircle.active + p{ color: #dee2e6; text-decoration: line-through; }

.todoitembox p{
    flex: 1;
    font-size: 21px;
    color: #495057;
}
.remove{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dee2e6;
    font-size: 24px;
    cursor: pointer;
    
    display: none; /* 안보이게 처리 */
}
.remove:hover{ color: #ff6b6b; }
.todoitembox:hover .remove{ display: block; }
